extends layout
<!-- Index page of the app -->
block content
    h1= title
    p Welcome to my winter break project
    p none of your information is stored or tracked
    p this is purely for amusement purposes
    a(href='/auth/facebook') Login with facebook